
@import url(https://fonts.googleapis.com/css?family=Prompt:400,300,500,600&subset=thai,latin);

@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

a {
  color: inherit;
  text-decoration: none;
}

/* CSS Reset */

body {
  margin: 0px!important;
  padding: 0px!important;
}

ul {
  margin-top: 0;
margin-bottom: 10px;
}

/* Font weight reminder : 100,200,300,400,500,600 */

body{
width: 100%;
color: #fff;
font-family: 'Prompt', sans-serif;
background-color: #1e1e1e;
-webkit-font-smoothing:antialiased;
}

h1, h2, h3, h4, p {
  color: #fff;
  font-weight: 300;
  margin: 0px;
}


/* Nav & Overlay */

/* Header */

.logo{
  width: 133px;
  height: auto;
}

header{
  width: 100%;
  height: auto;
  padding: 60px 5% 0 5%;
  box-sizing: border-box;
}

header > ul{
  list-style: none;
  font-weight: 400;
  float: right;
  padding-top: 20px;
}

header > ul > li{
  display: inline-block;
  margin-right: 20px;
}

header > ul > li:last-of-type{
  margin-right: 0;
}

@media screen and (max-width: 700px){
  header > ul{
    display: none;
  }
}

.knoware-navbar{
font-size: 15px;
  font-family: 'Prompt', sans-serif;
  width: 100vw;
  max-width: 100%;
  height: auto;
  padding: 8px 30px;
  box-sizing: border-box;
  background: #0d0d0d;
  color: #fff;
  font-weight: 200;
  position: fixed;
  z-index: 999;
  top:0;
}

.knoware-navbar a{
  text-decoration: none;
  color: inherit;
}

.knoware-nav-logo{
  height: 32px;
  width: auto;
  z-index: 3;
  position: relative;
}

.knoware-mobile{
  display: none;
}

.knoware-nav-wrapper{
  font-size: 15px;
  padding-top: 7px;
  float: right;
}

.knoware-nav-wrapper > ul{
  list-style: none;
  display: inline-block;
}

.knoware-nav-wrapper ul li{
  display: inline-block;
}

.knoware-nav > li{
  padding-right: 30px;
  vertical-align: middle;
}

.knoware-nav > li:last-of-type{
    padding-right: 0px;
}

.knoware-nav-social > li{
  padding-right: 35px;
  vertical-align: middle;
}

.knoware-nav-social > li:last-of-type{
  padding-right: 0;
}

.knoware-nav-social > li > span{
  font-size: 30px;
}

/* Mobile Overlay */


.knoware-overlay{
  font-family: 'Prompt', sans-serif;
  width: 100vw;
  height: 100vh;
  background: #0d0d0d;
  z-index: 4;
  color: #fff;
  font-weight: 200;
  position: fixed;
  opacity: 0;
  transform: translate3d(0,120%,0);
  transition: opacity .5s ,transform .9s;
}

.knoware-overlay-active{
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity .5s ,transform .9s;
}

.knoware-mobile-nav{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
}

.knoware-mobile-nav > li{
  font-size: 1.5em;
  line-height: 3em;
  text-align: center;
}

.knoware-mobile-nav a{
  text-decoration: none;
  color: inherit;
}

.knoware-mobile-close{
  font-size: 30px;
  position: absolute;
  top: 1rem; right: 2rem;
}

@media screen and (max-width: 1000px){
  .knoware-navbar{
    padding: 4px 0;
  }

  .knoware-nav-logo{
    height: 30px;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  .knoware-nav-wrapper{
    display: none;
  }

  .knoware-mobile{
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 15px;
    box-sizing: border-box;
  }

  .knoware-mobile h3{
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    float: left;
    color: #fff;
    margin: 0 0 0 0;
    padding-top: 3px;
  }

  .knoware-mobile span{
    font-size: 20px;
    float: right;
    color: #fff;
    margin: 0 0 0 0;
  }
}

/*  Contact */

.contact {
  display: block;
  text-align: center;
  padding: 100px 10px 100px 10px;
  background-image: url(../img/contact_hero.jpg);
  background-position: center;
  background-size: cover;
}

.contact h1 {
  font-size: 25px;
}

.contact h2 {
  font-size: 20px;
}

.contact .contact_card_wrapper {
  display: block;
  margin: 50px 0px 100px 0px;

}


 .contact_card {
  display: inline-block;
  height: 350px;
  width: 300px;
  background-color: #0B0B0B;
  margin: 0px 15px 0px 15px;
  transition: .1s ease-in;
  border-radius: 4px;
}

.contact_card .iphone {
  display: block;
  background-color: #141414;
  height: 200px;
  text-align: center;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.calling {
  background-image: url(../img/iphone_calling.png);
}

.mapping {
  background-image: url(../img/iphone_mapping.png);
}

.chatting {
  background-image: url(../img/iphone_chatting.png);
}

.contact_card h3{
   font-size: 24px;
   margin-top: 10px;
   font-weight: 300;
}

.contact_card p{
  font-weight: 200;
   font-size: 15px;
   padding: 10px 30px 10px 20px;
   text-align: center;
   opacity: 0.8;
}

.contact_card:hover {
 transform: scale(1.05);
transition: .1s ease-in;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.33);

}

.facebook {
  width: 400px;
  height: 400px;
  display: inline-block;
  margin-top: 40px;
}




@media screen and (max-width:1020px) {

  header {
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 200px;
    padding: 0px 10px 10px 10px;
    background-color: #1E1E1E;
  }

  .nav-up {
  transform: translateY(-210px);
  transition: 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  }

  .nav-down {
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  }

.mobile-menu-padding {
  display: block;
  height: 200px;
}

.know_are_logo {
  width: 100px!important;
  height: 120px!important;
  background-size: 80px!important;
}

header .hero_text {
  display: none;
}

header .hero_contact {
  margin-left: 11px;
  margin-top: 10px;
  max-width: 140px;
}

header .hero_contact p {
  font-size: 15px;
}

.ion-social-facebook, .ion-iphone {
  display: none;
}

header .hero_nav {
  right: 30px;
  margin-top: 30px;
}

header .hero_nav a{
  display: block;
  font-size: 25px;
  line-height: 30px;
}

  .menu_wrapper {
    margin-top: 10px;
  }

  .sub_menu_wrapper {
    display: block;
    width: 95%;
    min-height: 350px;
    text-align: center;
  }

  .sub_menu_wrapper .menu_logo {
    display: inline-block;
    margin-top: 50px;
    width: 100%;
    background-position: center;
  }


  .photos {
    margin: 5px 15px 5px 15px;
  }

.photos-caption-text {
  width: 250px;
}

  .photos-caption-text h1 {
    font-size: 25px;
  }

  .photos-caption-text p{
    margin-top: 25px;
    font-size: 16px;
  }

  .photos-caption-text .photos-link {
    font-style: 16px;
  }



  footer {
    background-position: bottom;
    padding: 10px 10px 10px 10px;
    background-size: 200%;
    text-align: center;
  }

  footer p.target {
    font-size: 18px;
    font-weight: 200;
  }


  footer p.credit {
    margin-top: 230px;
    font-size: 11px!important;
  }

    a.credit-link:hover{
    text-decoration: underline!important;
  }

  .contact .contact_card_wrapper {
    text-align: center;
    width: 100%;
  }

  .contact_card {
  display: inline-block!important;
  margin-top: 30px;
 }

 .contact h1 {
   font-size: 24px;
 }

 .contact h2 {
   font-size: 15px;
 }

 .facebook {
   display: none;
 }

 .hide-on-mobile {
   display: none!important;
 }

 section.item {
   display: block;
 }

}
